/* REEN Project responsib code start here */
@media (min-width: 320px) and (max-width: 480px){
    /* REEN Project css code start here */
    .header-section{
        width: 100%;
    }
    .top-header{
        width: 100%;
        background: #f5f7fa;
        padding: 5px 0px ;
    }
    .top-header .info-inner ul{
        margin: 0px;
        padding: 0px;
        display: block;
    }
    .top-header .info-inner ul li{
        list-style: none;
        display: inline-block;
    }
    .top-header .info-inner ul li a{
        font-size: 8px;
        font-weight: 600;
        color: #506a85;
        margin-right: 8px;
    }
    .top-header .info-inner ul li a:hover{
        color: #60d5c1;
    }
    .top-header .info-inner ul li a i{
        margin-right: 5px;
    }
    /* REEN Project css code end here */
}
@media (min-width: 481px) and (max-width: 767px){
    /* REEN Project css code start here */
    .header-section{
        width: 100%;
    }
    .top-header{
        width: 100%;
        background: #f5f7fa;
        padding: 5px 0px;
    }
    .top-header .info-inner ul{
        margin: 0px 0px 0px -15px;
        padding: 0px;
        display: block;
    }
    .top-header .info-inner ul li{
        list-style: none;
        display: inline-block;
    }
    .top-header .info-inner ul li a{
        font-size: 10px;
        font-weight: 600;
        color: #506a85;
        margin-right: 12px;
    }
    .top-header .info-inner ul li a:hover{
        color: #60d5c1;
    }
    .top-header .info-inner ul li a i{
        margin-right: 5px;
    }
    /* REEN Project css code end here */
}
@media (min-width: 768px) and (max-width: 1024px){
    /* REEN Project css code start here */
    .header-section{
        width: 100%;
    }
    .top-header{
        width: 100%;
        background: #f5f7fa;
        padding: 5px 0px;
    }
    .top-header .info-inner ul{
        margin: 0px 0px 0px 0px;
        padding: 0px;
        display: block;
    }
    .top-header .info-inner ul li{
        list-style: none;
        display: inline-block;
    }
    .top-header .info-inner ul li a{
        font-size: 13px;
        font-weight: 600;
        color: #506a85;
        margin-right: 15px;
    }
    .top-header .info-inner ul li a:hover{
        color: #60d5c1;
    }
    .top-header .info-inner ul li a i{
        margin-right: 5px;
    }
    /* REEN Project css code end here */
}
/* REEN Project responsib code end here */
/* socile icons responsib code start here */
@media (min-width:320px) and (max-width:480px){
    /* small section start */
    .top-header .socile-icons{
        margin: -25px 20px 0px 0px;
        padding: 0px;
        display: block;
        text-align: right;
    }
    .top-header .socile-icons li{
        list-style: none;
        display: inline-block;
    }
    .top-header .socile-icons li a{
        font-size: 8px;
        font-weight: 600;
        color: #506a85;
        margin-left: 9px;
    }
    .top-header .socile-icons li a:hover{
        color: #60d5c1;
    }
    /* small section start */
}
@media (min-width:481px) and (max-width:767px){
    /* mideam section start */
    .top-header .socile-icons{
        margin: -25px 5px 0px 0px;
        padding: 0px;
        display: block;
        text-align: right;
    }
    .top-header .socile-icons li{
        list-style: none;
        display: inline-block;
    }
    .top-header .socile-icons li a{
        font-size: 11px;
        font-weight: 600;
        color: #506a85;
        margin-left: 9px;
    }
    .top-header .socile-icons li a:hover{
        color: #60d5c1;
    }
    /* mideam section start */
}
@media (min-width:768px) and (max-width:1024px){
    /* big section start */
    .top-header .socile-icons{
        margin: -2px 5px 0px 0px;
        padding: 0px;
        display: block;
        text-align: right;
    }
    .top-header .socile-icons li{
        list-style: none;
        display: inline-block;
    }
    .top-header .socile-icons li a{
        font-size: 13px;
        font-weight: 600;
        color: #506a85;
        margin-left: 13px;
    }
    .top-header .socile-icons li a:hover{
        color: #60d5c1;
    }
    /* big section start */
}
/* socile icons responsib code end here */
/* .main-menu responsib code start here */
@media (min-width: 320px) and (max-width: 480px){
    /* small section start */
    .main-menu{
        width: 100%;
    }
    .main-menu .bg-light{
        background: transparent !important;
    }
    .main-menu .navbar-light .navbar-nav .active>.nav-link {
        color: #506a85;
    }
    .main-menu .navbar-light .navbar-nav .nav-link {
        color: #506a85;
        font-size: 8px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px 5px;
        transition:1s;
    }
    .main-menu .navbar-light .navbar-nav .nav-link:hover,.main-menu .navbar-light .navbar-nav .nav-link:focus{
        color: #60d5c1;
    }
    .main-menu .fa-search{
        color: #506a85;
        font-size: 8px;
        font-weight: 500;
        margin-left: 5px;
    }
    .main-menu .fa-search:hover,.main-menu .fa-search:focus{
        color: #60d5c1;
    }
    /* small section start */
}
@media (min-width: 481px) and (max-width: 767px){
    /* mediam section start */
    .main-menu{
        width: 100%;
    }
    .main-menu .bg-light{
        background: transparent !important;
    }
    .main-menu .navbar-light .navbar-nav .active>.nav-link {
        color: #506a85;
    }
    .main-menu .navbar-light .navbar-nav .nav-link {
        color: #506a85;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px 9px;
        transition:1s;
    }
    .main-menu .navbar-light .navbar-nav .nav-link:hover,.main-menu .navbar-light .navbar-nav .nav-link:focus{
        color: #60d5c1;
    }
    .main-menu .fa-search{
        color: #506a85;
        font-size: 10px;
        font-weight: 500;
        margin-left: 10px;
    }
    .main-menu .fa-search:hover,.main-menu .fa-search:focus{
        color: #60d5c1;
    }
    /* mediam section start */
}
@media (min-width: 768px) and (max-width: 1024px){
    /* big section start */
    .main-menu{
        width: 100%;
    }
    .main-menu .bg-light{
        background: transparent !important;
    }
    .main-menu .navbar-light .navbar-nav .active>.nav-link {
        color: #506a85;
    }
    .main-menu .navbar-light .navbar-nav .nav-link {
        color: #506a85;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px 14px;
        transition:1s;
    }
    .main-menu .navbar-light .navbar-nav .nav-link:hover,.main-menu .navbar-light .navbar-nav .nav-link:focus{
        color: #60d5c1;
    }
    .main-menu .fa-search{
        color: #506a85;
        font-size: 13px;
        font-weight: 500;
        margin-left: 15px;
    }
    .main-menu .fa-search:hover,.main-menu .fa-search:focus{
        color: #60d5c1;
    }
    /* big section start */
}
/*.main-menu responsib code end here */
/*.slider-sectio responsib code end here */
    @media (min-width:320px) and (max-width: 480px){
        /* small section start */
        .slider-sectio{
            width: 100%;
        }
        .slider-sectio .carousel-caption{
            bottom: 30%;
        }
        .slider-sectio .carousel-caption h2{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        .slider-sectio .carousel-caption p{
            font-size: 12px;
            line-height: 19px;
            color:#a3b1bf;
        }
        .slider-sectio .carousel-caption .btn-info{
            padding: 8px 18px;
            border-radius: 2px;
            font-size: 8px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            background:#00bc9c;
            border: 1px solid #00bc9c;
            color:#fff;
            transition: .5s;
        }
        .slider-sectio .carousel-caption .btn-info:hover{
            background:transparent;
            border: 1px solid #00bc9c;
            color:#00bc9c;
        }
        /* small section start */
    }
    @media (min-width:481px) and (max-width: 767px){
        /* small section start */
        .slider-sectio{
            width: 100%;
        }
        .slider-sectio .carousel-caption{
            bottom: 20%;
        }
        .slider-sectio .carousel-caption h2{
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        .slider-sectio .carousel-caption p{
            font-size: 9px;
            line-height: 15px;
            color:#a3b1bf;
        }
        .slider-sectio .carousel-caption .btn-info{
            padding: 8px 18px;
            border-radius: 2px;
            font-size: 9px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            background:#00bc9c;
            border: 1px solid #00bc9c;
            color:#fff;
            transition: .5s;
        }
        .slider-sectio .carousel-caption .btn-info:hover{
            background:transparent;
            border: 1px solid #00bc9c;
            color:#00bc9c;
        }
        /* small section start */
    }
    @media (min-width: 768px) and (max-width: 1024px){
        /* small section start */
        .slider-sectio{
            width: 100%;
        }
        .slider-sectio .carousel-caption{
            bottom: 30%;
        }
        .slider-sectio .carousel-caption h2{
            text-transform: uppercase;
            font-size: 49px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        .slider-sectio .carousel-caption p{
            font-size: 13px;
            line-height: 20px;
            color:#a3b1bf;
        }
        .slider-sectio .carousel-caption .btn-info{
            padding: 9px 19px;
            border-radius: 3px;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            background:#00bc9c;
            border: 1px solid #00bc9c;
            color:#fff;
            transition: .5s;
        }
        .slider-sectio .carousel-caption .btn-info:hover{
            background:transparent;
            border: 1px solid #00bc9c;
            color:#00bc9c;
        }
        /* big section start */
    }
/*.slider-sectio responsib code end here */
/*woh-we sectio responsib code end here */
@media (min-width: 320px) and (max-width: 480px){
    /* small section start */
    .woh-we{
        width: 100%;
        padding: 40px 0px;
    }
    .woh-we .title{
        width: 100%;
        text-align: center;
        padding: 0px 0px 20px;
    }
    .woh-we .title h2{
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #506a85;
    }
    .woh-we .title p {
        width: 50%;
        margin: 0px auto;
        font-size: 10px;
        line-height: 20px;
        color: #506a85;
        margin-top: 13px;
    }
    .woh-we .media{
        padding: 15px 0px 0px;
    }
    .woh-we .media-body{
        padding: 0px 6px;
    }
    .woh-we .media-body h5{
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        color: #506a85;
        margin: 0px 0px 6px;
    }
    .woh-we .media-body p{
        font-size: 10px;
        line-height: 16px;
        color: #506a85;
    }
    /* small section start */
}
@media (min-width: 481px) and (max-width: 767px){
    /* mediam section start */
    .woh-we{
        width: 100%;
        padding: 65px 0px;
    }
    .woh-we .title{
        width: 100%;
        text-align: center;
        padding: 0px 0px 25px;
    }
    .woh-we .title h2{
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #506a85;
    }
    .woh-we .title p {
        width: 50%;
        margin: 0px auto;
        font-size: 12px;
        line-height: 23px;
        color: #506a85;
        margin-top: 18px;
    }
    .woh-we .media{
        padding: 24px 0px 0px;
    }
    .woh-we .media-body{
        padding: 0px 8px;
    }
    .woh-we .media-body h5{
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        color: #506a85;
        margin: 0px 0px 8px;
    }
    .woh-we .media-body p{
        font-size: 12px;
        line-height: 20px;
        color: #506a85;
    }
    /* mediam section start */
}
@media (min-width: 768px) and (max-width: 1024px){
    /* big section start */
    .woh-we{
        width: 100%;
        padding: 75px 0px;
    }
    .woh-we .title{
        width: 100%;
        text-align: center;
        padding: 0px 0px 29px;
    }
    .woh-we .title h2{
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #506a85;
    }
    .woh-we .title p {
        width: 50%;
        margin: 0px auto;
        font-size: 14px;
        line-height: 24px;
        color: #506a85;
        margin-top: 20px;
    }
    .woh-we .media{
        padding: 29px 0px 0px;
    }
    .woh-we .media-body{
        padding: 0px 10px;
    }
    .woh-we .media-body h5{
        font-size: 19px;
        font-weight: 700;
        text-transform: capitalize;
        color: #506a85;
        margin: 0px 0px 10px;
    }
    .woh-we .media-body p{
        font-size: 12px;
        line-height: 17px;
        color: #506a85;
    }
    /* big section start */
}
/*woh-we sectio responsib code end here */
/*protfulio sectio responsib code end here */
@media (min-width: 320px) and (max-width: 480px){
    /* small section start */
    .portfulio{
        width: 100%;
        padding: 40px;
        background: #f2f5f7;
    }
    .portfulio .title{
        width: 100%;
        text-align: center;
        padding: 0px 0px 35px;
    }
    .portfulio .title h2{
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: #506a85;
    }
    .portfulio .title p {
        width: 60%;
        margin: 0px auto;
        font-size: 10px;
        line-height: 17px;
        color: #506a85;
    }
    .portfulio .card-body{
        text-align: center;
    }
    .portfulio .card-body h5{
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
        color: #506a85;
        margin-bottom: 5px;
    }
    .portfulio .card-body p{
        font-size: 8px;
        line-height: 16px;
        color: #a3b1bf;
    }
    .portfulio .owl-carousel{
        width: 100%;
        padding: 20px 0px 40px;
    }
    .portfulio .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
    }
    .portfulio .owl-theme .owl-dots .owl-dot.active span, .portfulio .owl-theme .owl-dots .owl-dot:hover span{
        background: #00bc9c;
    }
    /* small section start */
}
@media (min-width: 481px) and (max-width: 767px){
    /* mediam section start */
    .portfulio{
        width: 100%;
        padding: 60px;
        background: #f2f5f7;
    }
    .portfulio .title{
        width: 100%;
        text-align: center;
        padding: 0px 0px 45px;
    }
    .portfulio .title h2{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #506a85;
    }
    .portfulio .title p {
        width: 60%;
        margin: 0px auto;
        font-size: 13px;
        line-height: 20px;
        color: #506a85;
    }
    .portfulio .card-body{
        text-align: center;
    }
    .portfulio .card-body h5{
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        color: #506a85;
        margin-bottom: 5px;
    }
    .portfulio .card-body p{
        font-size: 11px;
        line-height: 20px;
        color: #a3b1bf;
    }
    .portfulio .owl-carousel{
        width: 100%;
        padding: 40px 0px 60px;
    }
    .portfulio .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 20px;
    }
    .portfulio .owl-theme .owl-dots .owl-dot.active span, .portfulio .owl-theme .owl-dots .owl-dot:hover span{
        background: #00bc9c;
    }
    /* mediam section start */
}
@media (min-width: 768px) and (max-width: 1024px){
    /* big section start */
    .portfulio{
        width: 100%;
        padding: 75px;
        background: #f2f5f7;
    }
    .portfulio .title{
        width: 100%;
        text-align: center;
        padding: 0px 0px 56px;
    }
    .portfulio .title h2{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #506a85;
    }
    .portfulio .title p {
        width: 60%;
        margin: 0px auto;
        font-size: 14px;
        line-height: 25px;
        color: #506a85;
    }
    .portfulio .card-body{
        text-align: center;
    }
    .portfulio .card-body h5{
        font-size: 17px;
        font-weight: 700;
        text-transform: capitalize;
        color: #506a85;
        margin-bottom: 5px;
    }
    .portfulio .card-body p{
        font-size: 14px;
        line-height: 24px;
        color: #a3b1bf;
    }
    .portfulio .owl-carousel{
        width: 100%;
        padding: 55px 0px 75px;
    }
    .portfulio .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 20px;
    }
    .portfulio .owl-theme .owl-dots .owl-dot.active span, .portfulio .owl-theme .owl-dots .owl-dot:hover span{
        background: #00bc9c;
    }
    /* big section start */
}
/*protfulio sectio responsib code end here */
/*get in tuch sectio responsib code end here */
@media (min-width: 320px) and (max-width:480px){
    /* small section start */
    .getin-tuch{
        width: 100%;
        margin: 40px 0px;
    }
    .getin-tuch .title{
        width: 100%;
        text-align: center;
    }
    .getin-tuch .title h2{
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        color: #5f768e;
        margin-bottom: 10px;
    }
    .getin-tuch .title p{
        font-size: 8px;
        line-height: 16px;
        color:#5f768e;
    }
    .getin-tuch .title .btn-primary{
        padding: 7px 12px;
        margin: 14px 0px 30px;
        border-radius: 1px;
        font-size: 8px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        background:#00bc9c;
        border: 1px solid #00bc9c;
        color:#fff;
        transition: .5s;
    }
    .getin-tuch .title .btn-primary:hover{
        background:transparent;
        border: 1px solid #00bc9c;
        color:#00bc9c;
    }
    /* small section start */
}
@media (min-width: 481px) and (max-width:767px){
    /* mediam section start */
    .getin-tuch{
        width: 100%;
        margin: 60px 0px;
    }
    .getin-tuch .title{
        width: 100%;
        text-align: center;
    }
    .getin-tuch .title h2{
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #5f768e;
        margin-bottom: 15px;
    }
    .getin-tuch .title p{
        font-size: 14px;
        line-height: 21px;
        color:#5f768e;
    }
    .getin-tuch .title .btn-primary{
        padding: 9px 16px;
        margin: 18px 0px 25px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        background:#00bc9c;
        border: 1px solid #00bc9c;
        color:#fff;
        transition: .5s;
    }
    .getin-tuch .title .btn-primary:hover{
        background:transparent;
        border: 1px solid #00bc9c;
        color:#00bc9c;
    }
    /* mediam section start */
}
@media (min-width: 768px) and (max-width:1024px){
    /* bgi section start */
    .getin-tuch{
        width: 100%;
        margin: 80px 0px;
    }
    .getin-tuch .title{
        width: 100%;
        text-align: center;
    }
    .getin-tuch .title h2{
        text-transform: capitalize;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #5f768e;
        margin-bottom: 20px;
    }
    .getin-tuch .title p{
        font-size: 15px;
        line-height: 24px;
        color:#5f768e;
    }
    .getin-tuch .title .btn-primary{
        padding: 10px 20px;
        margin: 20px 0px 55px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        background:#00bc9c;
        border: 1px solid #00bc9c;
        color:#fff;
        transition: .5s;
    }
    .getin-tuch .title .btn-primary:hover{
        background:transparent;
        border: 1px solid #00bc9c;
        color:#00bc9c;
    }
    /* big section start */
}
/*get in tuch sectio responsib code end here */
/*footer sectio responsib code end here */
@media (min-width: 320px) and (max-width: 480px){
    /* small section start */
    .footer{
        width: 100%;
    }
    .footer .top-footer{
        width: 100%;
        padding: 40px 0px;
        background: #2f4052;
    }
    
    .inner-widget h4 {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0px;
        margin-bottom: 14px;
        color: #bbbfc5;
        text-transform: uppercase;
    }
    .inner-widget img{
       margin-bottom: 13px;
    }
    .inner-widget p{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 14px;
        color: #a3b1bf;
    }
    .inner-widget a{
        font-size: 14px;
        font-weight: 600;
        padding: 10px 0px;
        color: #a3b1bf;
    }
    .inner-widget a i{
       margin-left: 6px;
    }
    .inner-widget .card{
        border: none;
        border-radius: 0;
    }
    .inner-widget .card img{
        width: 100%;
    }
    .row-cols-md-2{
        margin-right: 0px;
        margin-left: 0px;
    }
    .inner-widget .mb-4 {
        margin-bottom: .5rem!important;
        padding-right: 0px !important;
        padding-left: 0px;
        margin-left: 0px;
    }
    .inner-widget .card-img-top {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .inner-bottom h4{
        margin-left: 0px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0px;
        margin-bottom: 15px;
        color: #bbbfc5;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .inner-bottom p{
        margin-left: 0px;
        color: #bbbfc5;
        font-size: 14px;
        line-height: 20px;
    }
    .inner-bottom p i{
        margin-right: 10px;
    }
    .footer-form{
        width: 100%;
        position: relative;
    }
    .footer-form .form-control{
        height: auto;
        padding: 6px 0px;
        background: #4e5c6c;
        color: #a3b1bf;
        border: 1px solid #4e5c6c;
        border-radius: 2px;
        font-size: 12px;
    }
    .footer-form .btn-primary {
        position: absolute;
        top: 0px;
        right: 4px;
        padding: 6px 8px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        background: #00bc9c;
        border: 1px solid #00bc9c;
        color: #ffffff;
        border-radius: 5px;
    }
    .footer-form .btn-primary:hover{
        background: transparent;
        border: 1px solid #00bc9c;
        color: #ffffff;
        transition: 1s;
    }
    /* small section start */
}
@media (min-width: 768px) and (max-width: 1024px){
    /* big section start */
    .footer{
        width: 100%;
    }
    .footer .top-footer{
        width: 100%;
        padding: 60px 0px;
        background: #2f4052;
    }
    
    .inner-widget h4 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0px;
        margin-bottom: 14px;
        color: #bbbfc5;
        text-transform: uppercase;
    }
    .inner-widget img{
       margin-bottom: 13px;
    }
    .inner-widget p{
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 14px;
        color: #a3b1bf;
    }
    .inner-widget a{
        font-size: 14px;
        font-weight: 600;
        padding: 10px 0px;
        color: #a3b1bf;
    }
    .inner-widget a i{
       margin-left: 6px;
    }
    .inner-widget .card{
        border: none;
        border-radius: 0;
    }
    .inner-widget .card img{
        width: 100%;
    }
    .row-cols-md-2{
        margin-right: 0px;
        margin-left: 0px;
    }
    .inner-widget .mb-4 {
        margin-bottom: .5rem!important;
        padding-right: 0px !important;
        padding-left: 0px;
        margin-left: 0px;
    }
    .inner-widget .card-img-top {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .inner-bottom h4{
        margin-left: 0px;
        font-size: 19px;
        font-weight: 600;
        letter-spacing: 0px;
        margin-bottom: 18px;
        color: #bbbfc5;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .inner-bottom p{
        margin-left: 0px;
        color: #bbbfc5;
        font-size: 11px;
        line-height: 20px;
    }
    .inner-bottom p i{
        margin-right: 10px;
    }
    .footer-form{
        width: 100%;
        position: relative;
    }
    .footer-form .form-control{
        height: auto;
        padding: 9px 0px;
        background: #4e5c6c;
        color: #a3b1bf;
        border: 1px solid #4e5c6c;
        border-radius: 2px;
        font-size: 13px;
    }
    .footer-form .btn-primary {
        position: absolute;
        top: 3px;
        right: 7px;
        padding: 6px 11px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        background: #00bc9c;
        border: 1px solid #00bc9c;
        color: #ffffff;
        border-radius: 3px;
    }
    .footer-form .btn-primary:hover{
        background: transparent;
        border: 1px solid #00bc9c;
        color: #ffffff;
        transition: 1s;
    }
    /* mediam section start */
}
@media (min-width: 418px) and (max-width: 767px){
    /* mediam section start */
    .footer{
        width: 100%;
    }
    .footer .top-footer{
        width: 100%;
        padding: 75px 0px;
        background: #2f4052;
    }
    
    .inner-widget h4 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 19px;
        color: #bbbfc5;
        text-transform: uppercase;
    }
    .inner-widget img{
       margin-bottom: 19px;
    }
    .inner-widget p{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #a3b1bf;
    }
    .inner-widget a{
        font-size: 14px;
        font-weight: 600;
        padding: 10px 10px;
        color: #a3b1bf;
    }
    .inner-widget a i{
       margin-left: 6px;
    }
    .inner-widget .card{
        border: none;
        border-radius: 0;
    }
    .inner-widget .card img{
        width: 100%;
    }
    .row-cols-md-2{
        margin-right: 0px;
        margin-left: 0px;
    }
    .inner-widget .mb-4 {
        margin-bottom: .5rem!important;
        padding-right: 0px !important;
        padding-left: 0px;
        margin-left: 0px;
    }
    .inner-widget .card-img-top {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .inner-bottom h4{
        margin-left: 0px;
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 18px;
        color: #bbbfc5;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .inner-bottom p{
        margin-left: 0px;
        color: #bbbfc5;
        font-size: 14px;
        line-height: 23px;
    }
    .inner-bottom p i{
        margin-right: 10px;
    }
    .footer-form{
        width: 100%;
        position: relative;
    }
    .footer-form .form-control{
        height: auto;
        padding: 10px 3px;
        background: #4e5c6c;
        color: #a3b1bf;
        border: 1px solid #4e5c6c;
        border-radius: 4px;
        font-size: 13px;
    }
    .footer-form .btn-primary {
        position: absolute;
        top: 3px;
        right: 3px;
        padding: 6px 10px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        background: #00bc9c;
        border: 1px solid #00bc9c;
        color: #ffffff;
        border-radius: 3px;
    }
    .footer-form .btn-primary:hover{
        background: transparent;
        border: 1px solid #00bc9c;
        color: #ffffff;
        transition: 1s;
    }
    /* bgi section start */
}
/*footer sectio responsib code end here */
/*bottom-footer sectio responsib code start here */
@media (min-width: 320px) and (max-width: 480px){
    /* small section start */
    .bottom-footer{
        width: 100%;
        background: #283645;
        padding: 10px 0px;
    }
    .bottom-footer p{
        width: 100%;
        font-size: 10px;
        font-weight: 500;
        color: #707e8c;
        margin: 10px 0px;
    }
    .bottom-footer ul{
        margin-left: 200px;
        display: block;
        margin-top: -33px;
           
    }
    .bottom-footer ul li{
        padding: 0px 0px 0;
        list-style: none;
        display: inline-block;
    }
    .bottom-footer ul li a{
        font-size: 10px;
        font-weight: 400;
        color:  #707e8c;
        margin-right: 0px;
    }
    .bottom-footer ul li a i {
        margin-left: 5px;
        font-size: 8px;
    }
    /* small section start */
}
@media (min-width: 481px) and (max-width: 1024px){
    /* mediam section start */
    .bottom-footer{
        width: 100%;
        background: #283645;
        padding: 15px 0px;
    }
    .bottom-footer p{
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        color: #707e8c;
        margin: 10px 0px;
    }
    .bottom-footer ul{
        margin-left: 280px;
        display: block;
        margin-top: -33px;
           
    }
    .bottom-footer ul li{
        padding: 0px 0px 0;
        list-style: none;
        display: inline-block;
    }
    .bottom-footer ul li a{
        font-size: 11px;
        font-weight: 400;
        color:  #707e8c;
        margin-right: 0px;
    }
    .bottom-footer ul li a i {
        margin-left: 0px;
        font-size: 0px;
    }
    /* mdiam section start */
}
@media (min-width: 481px) and (max-width: 1024px){
    /* mediam section start */
    .bottom-footer{
        width: 100%;
        background: #283645;
        padding: 20px 0px;
    }
    .bottom-footer p{
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #707e8c;
        margin: 10px 0px;
    }
    .bottom-footer ul{
        margin-left: 0px;
        display: block;
        margin-top: 0px;
           
    }
    .bottom-footer ul li{
        padding: 0px 0px 0;
        list-style: none;
        display: inline-block;
    }
    .bottom-footer ul li a{
        font-size: 14px;
        font-weight: 600;
        color:  #707e8c;
        margin-right: 0px;
    }
    .bottom-footer ul li a i {
        margin-left: 5px;
        font-size: 10px;
    }
    /* big section start */
}
/*bottom-footer sectio responsib code end here */